extends layouts/_layout.pug

block variables
    - var activePage = 'ui-widgets'
    - var activeGroup = 'ui-elements'

block title
    title Widgets - Vali Admin

block content
    .app-title
        div
            h1
                if (user)
                    i.fa.fa-archive
                    |  #{user.name}

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                | HR Dash
            li.breadcrumb-item
                a(href='#') Сотрудник


    .row
        .col-md-3
            .widget-small.primary
                i.icon.fa.fa-users.fa-3x
                div.info
                    h4 Вероятность увольнения
                    p
                        b #{user.leave}

        .col-md-3
            .widget-small.info
                i.icon.fa.fa-users.fa-3x
                div.info
                    h4 Стаж
                    p
                        b #{user.experience}

        .col-md-3
            .widget-small.info
                i.icon.fa.fa-users.fa-3x
                div.info
                    h4 Должность
                    p
                        b #{user.roleName}

    .row
        .col-md-12
            .tile
                .tile-body 
                    .bs-component
                        ul.nav.nav-tabs
                            li.nav-item
                                a.nav-link.active(data-toggle='tab', href='#skill') Навыки
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#suggest') Предложения
                            //- li.nav-item
                            //- 	a.nav-link.disabled(href='#') Disabled
                            //- li.nav-item.dropdown
                            //- 	a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
                            //- 	.dropdown-menu
                            //- 		a.dropdown-item(href='#') Action
                            //- 		a.dropdown-item(href='#') Another action
                            //- 		a.dropdown-item(href='#') Something else here
                            //- 		.dropdown-divider
                            //- 		a.dropdown-item(href='#') Separated link
                        #myTabContent.tab-content
                            #skill.tab-pane.fade.active.show
                                .row
                                    .col-md-12
                                        .tile
                                            .tile-body
                                                table.table.table-hover.table-bordered#skillTable
                                                    thead
                                                        tr
                                                            th Необходимые навыки
                                                            th Описание
                                                            th Курс
                                                    tbody
                                                        if(skills)
                                                            each skill in skills
                                                                tr
                                                                    td #{skill.name}
                                                                    td #{skill.caption}
                                                                    td 
                                                                        a(href="/course?id="+skill.link) #{skill.courseName}
                            #suggest.tab-pane.fade
                                .bs-component
                                    if(suggest)
                                        each sugg in suggest
                                            .card.mb-3.text-white.bg-primary
                                                .card-body
                                                    blockquote.card-blockquote
                                                        .h3 #{sugg.name}
                                                        if (!sugg.status)
                                                            p Сотрудник еще не дал ответа
                                                        else if (sugg.status == 'true')
                                                            p Сотрудник согласился на пердложенную вакансию
                                                        else if (sugg.status == 'false')
                                                            p Сотрудник отказался от предложенной вакансии
                                                        p Необходимые навыки:
                                                        h3 #{sugg.skills}
                                                            if (sugg.skills)
                                                                each skill in sugg.skills
                                                                    p #{skill.name} #{skill.caption}
                            #dropdown1.tab-pane.fade
                                p
                                    | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
                            #dropdown2.tab-pane.fade
                                p
                                    | Trust fund seitan lette

block specific-js
    // Data table plugin
    script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
    script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
    script(type='text/javascript').
        $('#skillTable').DataTable();


